img {
  width: 90px;
  height: 90px;
  float: left;
}

#idCard {
  border: 5px solid black;
  height: 14em;
  width: 25em;
  font-family: "Noto Sans", sans-serif;
  background-color: #a8ecec;
  position: absolute;
  top: 24em;
  left: 21em;
  border-radius: 25px;
  margin-bottom: 5em;
}

#postFullName {
  position: absolute;
  left: 5em;
  font-size: 30px;
  font-weight: bold;
}

#postAge {
  position: absolute;
  top: 5em;
  left: 1em;
}

#postPhoneNumber {
  position: absolute;
  top: 7em;
  left: 1em;
}

#postAddress {
  position: absolute;
  top: 9em;
  left: 1em;
}

body {
  background-color: cadetblue;
}

h1 {
  position: absolute;
  left: 12em;
}

form {
  position: absolute;
  top: 5em;
  left: 29em;
  text-align: center;
  font-weight: bold;
}

#btn {
  position: absolute;
  top: 22em;
  left: 38em;
  border-radius: 4px;
  border: none;
  background-color: white;
}
